@model DentalClinicManagementApp.Models.Invoice

@{
    ViewData["Title"] = "Edit";
}

<h1>@SharedLocalizer["Edit"]</h1>

<h4>@SharedLocalizer["Invoice"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" name="ClientID" value="0" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="InvoiceNumber" class="control-label"></label>
                <input asp-for="InvoiceNumber" class="form-control" disabled/>
                <span asp-validation-for="InvoiceNumber" class="text-danger"></span>
                <input type="hidden" asp-for="InvoiceNumber" />
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinalValue" class="control-label"></label>
                <input type="number" asp-for="FinalValue" class="form-control" />
                <span asp-validation-for="FinalValue" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="State" /> @Html.DisplayNameFor(model => model.State)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="MedicalAppointmentID" class="control-label"></label>
                <select asp-for="MedicalAppointmentID" class="form-control" asp-items="ViewBag.MedicalAppointmentID"></select>
                <span asp-validation-for="MedicalAppointmentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["Save"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@SharedLocalizer["Back to List"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
