@model IEnumerable<DentalClinicManagementApp.Models.Invoice>

@{
    ViewData["Title"] = "Index";
}

<h1>@SharedLocalizer["Invoices"]</h1>

<p>
    <a asp-action="Create">@SharedLocalizer["Create New"]</a>&nbsp;&diams;&nbsp;<a asp-action="InvoiceAmount">@SharedLocalizer["Mensal amount"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client.NIF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @SharedLocalizer["AppointmentID"]
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalAppointment.DateOfAppointment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.NIF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Name)
            </td>
            <td>
                    @if (item.State)
                    {
                        @SharedLocalizer["Yes"]

                    }
                    else
                    {
                        @SharedLocalizer["No"]
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicalAppointment.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicalAppointment.DateOfAppointment)
            </td>
            <td>
                    <partial name="_CRUD_actions" model="item.ID" />
            </td>
        </tr>
}
    </tbody>
</table>
