@model IEnumerable<DentalClinicManagementApp.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<h1>@SharedLocalizer["Clients"]</h1>

<p>
    <a asp-action="Create">@SharedLocalizer["Create New"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NIF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HealthInsuranceCompany)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NIF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HealthInsuranceCompany)
            </td>
            <td>
                <partial name="_CRUD_actions" model="item.ID" />
            </td>
        </tr>
}
    </tbody>
</table>
